body {
  font-family: Arial, sans-serif;
}

.image-container {
  position: relative;
  text-align: center;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.clickable-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: 10px auto;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: block;
}

.image-paragraph {
  margin-bottom: 20px;
}

.bounding-box {
  position: absolute;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  display: none;
}

.content {
  padding: 20px;
}

button {
  margin: 5px;
}

.markdown-caption {
  font-size: 14px;
  font-style: italic;
  color: #555;
  text-align: center;
  margin-top: 5px;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px;
  color: #000000;
  font-weight: bold;
}

.markdown-details {
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  padding: 5px;
  border-left: 3px solid #007bff;
  margin-top: 5px;
  display: none;
}