/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ECEBDE;
  margin: 0;
  padding: 0;
}

.abstract {
  margin: 20px;
  padding: 20px;
  border: #FFF solid 1px;
  border-radius: 12px;
}

.content {
  padding: 20px;
  background: #FFF;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.markdown-caption {
  font-size: 14px;
  font-style: italic;
  color: #666;
  text-align: center;
  margin-top: 5px;
}

.markdown-details {
  font-size: 14px;
  color: #333;
  background-color: #F3F3F3;
  padding: 6px;
  border-left: 3px solid #0D6EFD;
  margin-top: 6px;
  display: none;
}

.molecule-title {
  font-size: 18px;
  font-weight: bold;
}

.molecule-text {
  font-size: 12px;
}

.clickable-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image-container {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.molecule-all {
  position: absolute;
}

.molecule-bounding-box {
  position: absolute;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.2);
  display: none;
}

.image-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-size: 14px;
}

.image-pair-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.image-pair img {
  width: 48%;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border: 2px solid #CCC;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.image-pair img:hover {
  transform: scale(1.02);
  border-color: #0D6EFD;
  box-shadow: 0 4px 8px rgba(13, 110, 253, 0.3);
}

.reaction-block {
  width: 95%;
  margin: 12px auto;
  cursor: pointer;
  border: 2px solid #DDD;
  border-radius: 8px;
  background-color: #FFF;
  padding: 12px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.reaction-block:hover {
  transform: scale(1.02);
  border-color: #0D6EFD;
  box-shadow: 0 4px 8px rgba(13, 110, 253, 0.3);
}

.reaction-all {
  position: absolute;
}

.reaction-bounding-box[data-type="Reactant"] {
  position: absolute;
  border: 2px solid blue;
  background-color: rgba(0, 0, 255, 0.2);
}

.reaction-bounding-box[data-type="Condition"] {
  position: absolute;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}

.reaction-bounding-box[data-type="Product"] {
  position: absolute;
  border: 2px solid cyan;
  background-color: rgba(0, 255, 255, 0.2);
}

.reaction-title {
  font-size: 18px;
  font-weight: bold;
}

.reaction-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.reaction-table td {
  padding: 6px;
  max-width: 200px;
}

.reaction-table th {
  padding: 6px;
  text-align: left;
  background-color: #CCC;
}

.reaction-table .reaction-class {
  font-weight: bold;
}

.reaction-table .reaction-smiles {
  width: 100%;
  text-align: left;
  overflow: hidden;
}
